body{
	background-color: black;
	color: white;
	font-size: 25px;
	font-family: 'Handlee', 'Caveat', serif;
}

/*Navigation Bar Starts*/
:root{
  --background: rgba(75,0,130,.9);
}

*, *::before,*::after{
  box-sizing: border-box;
}

header {
  background: var(--background);
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  border: 0px;
}

nav {
    position: relative;
    width:100%;
    text-align: left;
    transition: none;
    transform: scale(1,1);
    background: none;
    top: initial;
    left: initial;
    grid-column: 3 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
  }

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

nav li {
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 0;
}
  
/*navigation link styling*/
nav a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
  opacity: 1;
  position: relative;
}



nav a::before {
content: '';
display: block;
height: 5px;
background: var(--background);
position: absolute;
top: -.75em;
left: 0;
right: 0;
transform: scale(0, 1);
transition: transform ease-in-out 250ms;
}

nav a:hover::before {
transform: scale(1,1);
}
/*Navigation Bar Ends*/


/*Whole page display*/
.container{
  position: relative;
  top:55px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:0;

}

.container p{
  font-size: 0.7em;
}

/*Image and Name*/

.myimg{
  width: 30%;
  border-radius: 50%;
}

h1{
  font-size: 1.3em;
  margin: 0.2em;
}

/*description*/
.intro{
  width: 40%;
  margin-top:0.2em;
  margin-bottom: 0.4em;
}


/*contact bar*/
.contacts{
  width: 70%;
  min-width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 1em;
  flex-wrap: wrap;
}

.email{
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.fb{
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.emailicon{
  width:12%;
}
.fbicon{
  width: 10%;
  height: 80%;
}

.space{
  width: 4%;
}

