/*sets the body background and font*/
body{
	background-color: #DCDCDC	;
	color: black;
	font-family: 'Montserrat';
}


/*START PAGE DISPLAY*/
.divide{
	width: 100%;
	display: flex;
	flex-direction: column;
}

.question{
	width: 100%
	height:20%;
	font-size: 3em;
	text-align: center;
}

.screens{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.screen{
	min-width: 50%;
	height:500px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
    position: relative;
}

/*controls hover activity for icons: size increase and visible on top of trailer*/
.icon{
	width:45%;
	z-index: 100;
}
.icon:hover{
	cursor: pointer;
	width: 50%;
}
#campusicon{
	width: 50%;
}
#campusicon:hover{
	width: 55%;
}

/*trailer positioning, hides it till hover, and reduced opacity and color*/
.bg {
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  visibility: hidden;
  opacity: 50%;
  filter:grayscale(70%);
}


/*VIDEO PLAYER*/
.viddiv{
	width: 100%;
	z-index: 900;
}

/*no display till icon clicked and video positioning*/
.vid{
	width: 100%;
	height:100%;
	display: none;
	position: absolute;
	top:10%;
	left:15%;
}

/*close button for the videos, hidden till icon clicked*/
.close{
	position: absolute;
	top:10%;
	right: 11%;
	display: none;
	background-color: transparent;
	border: none;
	color: black;
	font-size: 1.5em;
}
/*highlights close button on hover*/
.close:hover{
	cursor: pointer;
	outline: 1px solid white;
	font-size: 2em;
}


