body{
	background-color: black;
}

.container{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;

}

/*journal image*/
.container img{
	width: 85%;
}

/*positions the enter button*/
.enter{
	width: 90%;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}
/*button styling*/
.example_f {
   border-radius: 4px;
   background-color: #2e8b86;
   border: none;
   color: #FFFFFF;
   text-align: center;
   font-size: 1.2em;
   padding: 20px;
   width: 100px;
   cursor: pointer;
 }
 /*button effects*/
 .example_f span {
   cursor: pointer;
   display: inline-block;
   position: relative;
   transition: 0.4s;
 }
 .example_f span:after {
   content: '\00bb';
   position: absolute;
   opacity: 0;
   top: 0;
   right: -20px;
   transition: 0.5s;
 }
 .example_f:hover span {
   padding-right: 25px;
 }
 .example_f:hover span:after {
   opacity: 1;
   right: 0;
 }
