/*General Styling*/
body{
	background-color: black;
	color: white;
	font-size: 25px;
	text-transform: uppercase;
}

h1, h2{
  font-size: 30px;

}

img{
  width:190px;
}


/*Navigation Bar Starts*/
:root{
	--background: rgba(75,0,130,.9);
}

*, *::before,*::after{
	box-sizing: border-box;
}

header {
  background: var(--background);
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  border: 0px;
}

nav {
    position: relative;
    width:100%;
    text-align: left;
    transition: none;
    transform: scale(1,1);
    background: none;
    top: initial;
    left: initial;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

nav li {
	margin-left: 3em;
	margin-bottom: 0;
}
  
nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
  opacity: 1;
  position: relative;
}

nav a:hover {
  color: rgb(139,0,72);
}

nav a::before {
content: '';
display: block;
height: 5px;
background: var(--background);
position: absolute;
top: -.75em;
left: 0;
right: 0;
transform: scale(0, 1);
transition: transform ease-in-out 250ms;
}

nav a:hover::before {
transform: scale(1,1);
}
/*Navigation Bar Ends*/


/*Video Players and Titles Styling and Positioning*/
.column{
  float: left;
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

#videobox1{
  width:53%;
}

#descriptionbox1{
  width: 27%;
  text-align: center;
}

@media screen and (max-width: 1400px){
  #videobox1{
    width: 100%;
  }
}


/*Behind The Scenes Section Styling*/
.gallery{
  position: relative;
  height: 370px;
  width:250px;
  top:0px;
  left:300px;
}

#bts1{
  position: relative;
  height: 370px;
  width:220px;
  top:0px;
  left:30px;
}

.button{
  background-color: rgba(75,0,130);
  color: white;
}

#rbutton{
  position: relative;
  left:145px;
  bottom:210px;
}

#lbutton{
  position: relative;
  right:85px;
  bottom: 210px;
}


/*Video Description*/
.vidintro{
  position: relative;
  bottom:260px;
  text-transform: none;
  font-size: 20px;
  width:280px;
  text-align: left;
}


/*Artist Box*/
.arttitle{
  position: relative;
  text-align: center;
  bottom:180px;
  left:120px;
}

.artists{
  position: relative;
  bottom:170px;
  display: inline;
}

/*Adds Pop-up Artist Names*/
.img_wrap{
  position: relative;
  left:0px;
  width:190px;
  height: 166px;
}

.img_description{
  position: absolute;
  width:190px;
  bottom:5px;
  background:rgb(75,0,130,0.35);
  color: rgb(139,0,72)
  visibility: hidden;
  opacity: 0;
  border: 0px;
  margin:0px;
  padding: 0px;

  transition: opacity .2s, visibility .2s;
}

.img_wrap:hover .img_description{
  visibility: visible;
  opacity: 1;
}

.img_wrap2{
  position: relative;
  left:220px;
  bottom:185px;
  width:190px;
  height: 166px;
}

.img_description2{
  position: absolute;
  width:190px;
  top:150px;
  background:rgb(75,0,130,0.35);
  color: rgb(139,0,72)
  visibility: hidden;
  opacity: 0;
  border: 0px;
  margin:0px;
  padding: 0px;
  transition: opacity .2s, visibility .2s;
}
.img_wrap2:hover .img_description2{
  visibility: visible;
  opacity: 1;
}

.img_wrap3{
  position: relative;
  left:440px;
  bottom:350px;
  width:190px;
  height: 166px;
}

.img_description3{
  position: absolute;
  width:190px;
  top:149px;
  background:rgb(75,0,130,0.35);
  color: rgb(139,0,72)
  visibility: hidden;
  opacity: 0;
  border: 0px;
  margin:0px;
  padding: 0px;
  transition: opacity .2s, visibility .2s;
}
.img_wrap3:hover .img_description3{
  visibility: visible;
  opacity: 1;
}

