/*General Styling of Text and Image*/
body{
	background-color: black;
	color: white;
	font-size: 25px;
	text-transform: uppercase;
}

img{
	width:335px;
	height:200px;
}

a{
	color: inherit;
	text-decoration: none;
}
a:hover{
	color: rgb(139,0,72);
}


/*Category Selection and Preview*/
.col{
	float: left;
	margin-left: 55px;
	margin-right: 55px;
	margin-top: 30px;
	text-align: center;
}

.left, .right{
	width:25%;
}

.middle{
	width:50%;
}

#comic{
	position: relative;
	top:45px;
}

#science{
	position: relative;
	top:45px;
}

#contact img{
	width:500px;
	height:500px;
}

/*Window Rescaling*/
@media screen and (max-width: 600px){
	.column{
		width:100%;
	}
}

