/*General Styling*/
body{
	background-color: black;
	color: white;
	font-size: 25px;
	text-transform: uppercase;
}

h1, h2{
  font-size: 30px;

}

img{
  width:190px;
}


/*Navigation Bar Starts*/
:root{
	--background: rgba(75,0,130,.75);
}

*, *::before,*::after{
	box-sizing: border-box;
}

header {
  background: var(--background);
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  border: 0px;
}

nav {
    position: relative;
    width:100%;
    text-align: left;
    transition: none;
    transform: scale(1,1);
    background: none;
    top: initial;
    left: initial;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }


nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

nav li {
	margin-left: 3em;
	margin-bottom: 0;
}
  
nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
  opacity: 1;
  position: relative;
}

nav a:hover {
  color: #000;
}


nav a::before {
content: '';
display: block;
height: 5px;
background: var(--background);
position: absolute;
top: -.75em;
left: 0;
right: 0;
transform: scale(0, 1);
transition: transform ease-in-out 250ms;
}

nav a:hover::before {
transform: scale(1,1);
}
/*Navigation Bar Ends*/


/*Video Players and Titles Styling and Positioning*/

/*VIDEO 1*/
#videobox1{
  position: absolute;
  left: 50px;
  top:65px;
}

#descriptionbox1{
  position: absolute;
  right:70px;
  top: 65px;
  text-align: center;
}

/*VIDEO 2*/
#videobox2{
  position: absolute;
  left: 50px;
  top:800px;
}

#descriptionbox2{
  position: absolute;
  right:70px;
  top: 800px;
  text-align: center;
}


/*General Description Positioning for All Videos*/
.arttitle{
  position: relative;
  top:320px;
}

.artists{
  position: relative;
  top:290px;
}